In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20170101', periods=6)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2017-01-01 -1.261039  0.898918 -0.593338  0.219665
2017-01-02 -1.950825  1.157202 -0.347647 -0.369179
2017-01-03  2.286802 -1.794948 -0.097822  1.129672
2017-01-04  0.202935 -1.262981  0.733872 -1.073888
2017-01-05  0.166818  0.550440 -1.603536 -0.585278
2017-01-06 -0.380554 -2.107704  0.159655 -1.012084

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.values

array([[-1.26103862,  0.89891838, -0.59333794,  0.2196648 ],
       [-1.95082481,  1.15720152, -0.34764684, -0.36917948],
       [ 2.28680198, -1.79494772, -0.09782199,  1.12967244],
       [ 0.20293505, -1.26298064,  0.7338715 , -1.07388769],
       [ 0.16681784,  0.55043992, -1.60353588, -0.58527808],
       [-0.38055406, -2.10770409,  0.1596555 , -1.01208379]])

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.155977 -0.426512 -0.291469 -0.281849
std    1.462413  1.457261  0.788433  0.837159
min   -1.950825 -2.107704 -1.603536 -1.073888
25%   -1.040917 -1.661956 -0.531915 -0.905382
50%   -0.106868 -0.356270 -0.222734 -0.477229
75%    0.193906  0.811799  0.095286  0.072454
max    2.286802  1.157202  0.733872  1.129672

In [15]:
df

                   A         B         C         D
2017-01-01 -1.261039  0.898918 -0.593338  0.219665
2017-01-02 -1.950825  1.157202 -0.347647 -0.369179
2017-01-03  2.286802 -1.794948 -0.097822  1.129672
2017-01-04  0.202935 -1.262981  0.733872 -1.073888
2017-01-05  0.166818  0.550440 -1.603536 -0.585278
2017-01-06 -0.380554 -2.107704  0.159655 -1.012084

In [16]:
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A   -1.261039   -1.950825    2.286802    0.202935    0.166818   -0.380554
B    0.898918    1.157202   -1.794948   -1.262981    0.550440   -2.107704
C   -0.593338   -0.347647   -0.097822    0.733872   -1.603536    0.159655
D    0.219665   -0.369179    1.129672   -1.073888   -0.585278   -1.012084

In [17]:
df[0:3]

                   A         B         C         D
2017-01-01 -1.261039  0.898918 -0.593338  0.219665
2017-01-02 -1.950825  1.157202 -0.347647 -0.369179
2017-01-03  2.286802 -1.794948 -0.097822  1.129672

In [19]:
df.loc[dates[0]]

A   -1.261039
B    0.898918
C   -0.593338
D    0.219665
Name: 2017-01-01 00:00:00, dtype: float64